html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 3px;
    height: 100%;
    margin-bottom: 120px;
}

.alert {
    margin-top: 10px;
}

.description {
    color: #333;
}

.navbar-default .navbar-nav>li>a,p {
    color: #333;
}

.breadcrumb {
    background-color: #ffffff;
}

.panel-on {
    background-color: #eeeeee;
    color: #333;
}

.panel-on>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    background-image: none;
    border-bottom: solid 1px #ffffff;
}

.panel-off {
    background-color: #dddddd;
}

.panel-off>.panel-heading {
    background-color: #dddddd;
    background-image: none;
    border-bottom: solid 1px #ffffff;
}

.panel-title {
    font-size: 36px;
}

.btn-stacked {
    margin-top: 8px;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn-aligned {
    margin-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    font-size: 14px;
    text-align: center;
}

.footer .footer-upper {
    margin-bottom: 10px;
    font-weight: 700;
}

.footer .footer-blue {
    color: #0e90d2;
}

.footer .footer-divider {
    color: #ccc;
}

.footer .footer-lower {
    color: #999;
    font-size: 12px;
}

.footer .footer-lower p {
    display: inline-block;
    margin: 5px;
}

.footer .footer-lower a  {
    color: #555;
}

.sfm-container {
    min-height: 600px;
}
.subsection {
    padding-top: 30px;
}

.text-warning {
    color: #666;
}
.tooltip > .tooltip-inner {
    min-width: 200px;
    background-color: #333;
}
.modal {
    top: 35%;
}

.longseed{
    word-wrap: break-word;
    display: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.form-reset {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ul_nav{
    max-height:200px;
    overflow:hidden;
    word-wrap: break-word;
    overflow-y:auto;
}
