body {
    font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 3px;
    height: 100%;
}

.navbar-default .navbar-nav>li>a,p {
    color: #333;
}

.breadcrumb {
    background-color: #ffffff;
}

.panel-on {
    background-color: #eeeeee;
    color: #333;
}

.panel-on>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    background-image: none;
    border-bottom: solid 1px #ffffff;
}

.panel-off {
    background-color: #dddddd;
}

.panel-off>.panel-heading {
    background-color: #dddddd;
    background-image: none;
    border-bottom: solid 1px #ffffff;
}

.panel-title {
    font-size: 36px;
}

.btn-stacked {
    margin-top: 8px;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn-aligned {
    margin-left: 15px;
}

footer {
    position: relative; 
    height: 60px;
    border-top: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 14px;
}

.sfm-container {
    min-height: 600px;
}
.subsection {
    padding-top: 30px;
}
