{% load humanize %}
<html>
<body>
<p>Here's an update on your harvests from <a href="{{ url }}">Social Feed Manager</a>.</p>

{% for collection_set, collection_set_info in collection_sets.items %}
    <p><a href="{{ collection_set_info.url }}">{{ collection_set.name|upper }}</a></p>
    {% for collection, collection_info in collection_set_info.collections.items %}
        <p><a href="{{ collection_info.url }}">{{ collection.name }}</a>: {% if collection.is_on %}Turned on{% else %}Turned off{% endif %}
        <ul>
            {% if collection_info.next_run_time %}<li>Next harvest: {{ collection_info.next_run_time }} ({{ collection_info.next_run_time|naturaltime }})</li>{% endif %}
            {% if collection.last_harvest %}<li>Last harvest: {{ collection.last_harvest.date_requested }} ({{ collection.last_harvest.date_requested|naturaltime }})</li>{% endif %}
            {% if collection_info.stats %}<li>Stats:
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Yesterday</th>
                        <th>Previous day</th>
                        <th>Last 7 days</th>
                        <th>Previous 7 days</th>
                        <th>Last 30 days</th>
                        <th>Previous 30 days</th>
                    </tr>
                {% for item, item_stats in collection_info.stats.items %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ item_stats.yesterday|intcomma }}</td>
                        <td>{{ item_stats.prev_day|intcomma }}</td>
                        <td>{{ item_stats.last_7|intcomma }}</td>
                        <td>{{ item_stats.prev_7|intcomma }}</td>
                        <td>{{ item_stats.last_30|intcomma }}</td>
                        <td>{{ item_stats.prev_30|intcomma }}</td>
                    </tr>
                {% endfor %}
                </table></li>
            {% endif %}
        </ul></p>
    {% endfor %}
{% endfor %}
</body>
</html>