{% extends "base.html" %}
{% block title %}
    Change Password
{% endblock %}

{% load i18n %}

{% block content %}
<div class="container form-reset">
    <h1>Change Password</h1>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
         <div class="form-group">
            {{ form.oldpassword.errors }}
            <label for="id_oldpassword">Current Password</label>
            <input type="password" class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password">
        </div>
        {% include "account/snippets/change_password.html" %}
        <button class="btn btn-primary" type="submit" name="action">Change Password</button>
        <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
    </form>
</div>
{% endblock %}
