sfmdevrabbit:
    image: rabbitmq@sha256:397382d2b222f3a298a6c74e93f348fb16f9a7fde2c02ba14122624d852daae3
    #RabbatMQ 3-management
    ports:
        - "15672:15672"
    restart: always
    environment:
        - TZ=EST
        - RABBITMQ_DEFAULT_USER=sfm_user
        - RABBITMQ_DEFAULT_PASS=password
sfmdevdb:
    image: gwul/sfm-ui-db:master
    environment:
        - TZ=EST
        - POSTGRES_PASSWORD=gherD42#dl5
sfmdevapp:
    image: gwul/sfm-ui:dev
#    image: gwul/sfm-ui:dev-runserver
    ports:
        - "8080:80"
    links:
        - sfmdevdb:db
        - sfmdevrabbit:mq
    volumes:
        - ~/sfm-ui:/opt/sfm-ui
    environment:
        - TZ=EST
        - SFM_DEBUG=True
        #Turn on logging
        #- SFM_DJANGO_LOG=DEBUG
        #- SFM_DJANGO_REQUEST_LOG=DEBUG
        #- SFM_APSCHEDULER_LOG=DEBUG
        #- SFM_UI_LOG=DEBUG
        #If not running on localhost
        #- SFM_ALLOWED_HOSTS=myserver.mydomain.edu
        #Add 5 minute harvest interval
        #- SFM_FIVE_MINUTE_SCHEDULE=True
