{% load i18n %}
{% load account %}

<div class="form-group">
    {{ form.password1.errors }}
    <label for="id_password1">New Password</label>
    <input type="password" class="form-control" id="id_password1" name="password1" placeholder="New Password">
</div>
<div class="form-group">
    {{ form.password2.errors }}
    <label for="id_password2">New Password (again)</label>
    <input type="password" class="form-control" id="id_password2" name="password2" placeholder="New Password (again)">
</div>