{% load static %}
        <div class="footer-lower">
          <div class="container">
            <div class="row align-items-center">
              <div id="footer-logo" class="col-2">
                <a href="https://www.gwu.edu/" rel="home" target="_blank" aria-label="The George Washington University, Washington, DC, opens in new window">
                  <img typeof="foaf:Image" src="{% static 'ui/img/gw/gw_primary_2c_rev.png' %}" alt="The George Washington University, Washington, DC">
                </a>
              </div>
              <div id="footer-links" class="col-10">
                <div class="row-one">
<ul>
			<li>
			 <a href="https://www.campusadvisories.gwu.edu/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=campus-advisories" target="_blank" aria-label="View the latest Campus Advisories, opens in new window">Campus Advisories</a>
			</li>
			<li>
			  <a href="https://compliance.gwu.edu/sites/g/files/zaxdzs2791/f/downloads/FINAL%20Equal%20Opportunity%20Nondiscrimination%20and%20antiharassment%205.16.19.pdf/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=EEO-nondiscrimination-policy" target="_blank" aria-label="EO/Nondiscrimination Policy (PDF), opens in new window">EO/Nondiscrimination Policy (PDF)</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/privacy-notice/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=privacy-notice" target="_blank" aria-label="Privacy Notice, opens in new window">Privacy Notice</a>
			</li>
		  </ul>
                </div>
                <div class="row-two">
                  <ul>
                    <li>
                      <a href="https://www.gwu.edu/contact-gw/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=contact-gw" target="_blank" aria-label="Contact GW with general questions or comments, opens in new window">Contact GW</a>
                    </li>
			<li>
			  <a href="https://accessibility.gwu.edu/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=accessibility" target="_blank" aria-label="Visit GW's main accessibility website, opens in new window">Accessibility</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/terms-use/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=terms-use" target="_blank" aria-label="Terms of Use, opens in new window">Terms of Use</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/copyright/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=copyright" target="_blank" aria-label="Copyright information for GW websites, opens in new window">Copyright</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/az-index/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=az-index" target="_blank" aria-label="A-Z Index, opens in new window">A-Z Index</a>
			</li>
		  </ul>
                </div> 
                <div class="row-three"><ul>
<li>GW is committed to digital accessibility. If you experience a barrier that affects your ability to access content on this page, let us know via the
			  <a href="https://accessibility.gwu.edu/accessibility-feedback-form/?utm_medium=link&amp;utm_campaign=editorial-footer&amp;utm_source=accessibility-feedback" target="_blank" aria-label="Accessibility Feedback Form, opens in new window">Accessibility Feedback Form</a>.
			</li>
                </div>
              </div>
            </div>
          </div>
        </div>
