{% extends 'base.html' %}
{% load humanize %}
{% load ui_extras %}
{% block title %}
    Change Log
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            {% if model_name == "credential" %}
            <li class="breadcrumb-item"><a href="{% url 'credential_list' %}">Credentials</a></li>
            <li class="breadcrumb-item"><a href="{% url 'credential_detail' item.id %}">{{ name }}</a></li>
            {% elif model_name == "collection set" %}
            <li class="breadcrumb-item"><a href="{% url 'collection_set_list' %}">Collection Sets</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection_set_detail' item.id %}">{{ name }}</a></li>
            {% elif model_name == "collection" %}
            <li class="breadcrumb-item"><a href="{% url 'collection_set_list' %}">Collection Sets</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection_set_detail' item.collection_set.id %}">{{ item.collection_set.name }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'collection_detail' item.id %}">{{ name }}</a></li>
            {% elif model_name == "seed" %}
            <li class="breadcrumb-item"><a href="{% url 'collection_set_list' %}">Collection Sets</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection_set_detail' item.collection.collection_set.id %}">{{ item.collection.collection_set.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection_detail' item.collection.id %}">{{ item.collection.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'seed_detail' item.id %}">{{ name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">Change Log</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="longseed">Change log for {{model_name }} {{ name }}</h2>
    </div>
</div>
{% endblock %}
{% block content %}
<nav>
  <ul class="pagination justify-content-center align-items-center">
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link rounded-pill mr-1" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link rounded-pill mr-1" href="?page={{ page_obj.previous_page_number }}"> Previous</a></li>
      {% endif %}

      <li class="page-item active">
          {{ page_obj.number }} of {{ paginator.num_pages }}
      </li>

      {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link rounded-pill ml-1" href="?page={{ page_obj.next_page_number }}">Next </a></li>
          <li class="page-item"><a class="page-link rounded-pill ml-1" href="?page={{ paginator.num_pages }}"> &raquo;</a></li>
      {% endif %}
  </ul>
</nav>
<div class="row">
	<table class="table">
		<thead>
            <tr>
                <th class="border-top-0">Change to</th>
                <th class="border-top-0">Date</th>
                <th class="border-top-0">User</th>
                <th class="border-top-0">Fields</th>
            </tr>
		</thead>
			{% for diff in diff_list %}
                <tr>
                    <td>{{ diff.obj | name }} ({{ diff.obj|verbose_name }})</td>
                    <td>{{ diff.date }}</td>
                    <td>{{ diff.user|default_if_none:"system" }}</td>
                    <td>
                        {% for key, values in diff.fields.items %}
                            {{ key }}: "{{ values.0|name|default_if_none:"blank" }}" changed to "{{ values.1|name }}" <br/>
                        {% endfor %}
                        {% if diff.note %}<strong>Note:</strong> {{ diff.note}}{% endif %}
                    </td>
                </tr>
			{% endfor %}
	</table>
        </div>
{% endblock %}
