{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
     Edit {{ collection_set }}
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li class=breadcrumb-item><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></li>
      <li class="breadcrumb-item active">Edit</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
            <h1>{{ collection_set.name }}</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
    {% crispy form %}
    </div>
</div>
<div class="row">
    <div class="card mb-3">
        <div class="card-heading bg-light pl-3 pr-3 pt-2 pb-2 border"><h4>Collections</h4></div>
        <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="border-top-0">Name</th>
                  <th class="border-top-0">Harvest type</th>
                  <th class="border-top-0">Seeds</th>
                  <!-- <th>Last harvested</th> -->
                  <th class="border-top-0">Active</th>
                </tr>
              </thead>
            {% for collection in collection_list %}
                <tr>
                    <td><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></td>
                    <td>{{ collection.harvest_type }}</td>
                    <td>{{ collection.num_seeds }} seed{{ collection.num_seeds|pluralize }}</td>
                    <!-- <td>date of most recent harvest among collections</td> -->
                    <td>{{ collection.is_on|yesno:"Yes,No" }}</td>
                </tr>
            {% endfor %}
            </table>
            <button class="btn btn-primary disabled">Add Collection</button>
        </div>
    </div>
</div>
{% endblock %}
