{% extends 'base.html' %}
{% block title %}
    Collection Sets
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <h1>Collection Sets</h1>
        <p>A collection set is a group of collections around a particular topic or theme. An active collection set contains
            active collections. An inactive collection set contains inactive collections, which are not currently being
            using for harvesting.</p>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-12">
        <ul id="collection_set_tabs" class="nav nav-tabs">
            {% for t in tables %}
                {% if forloop.first %}
                    <li class="active"><a  href="#{{ t.id }}" data-toggle="tab">{{ t.name }}</a></li>
                {% else %}
                        {% if t %}
                            <li><a  href="#{{ t.id }}" data-toggle="tab">{{ t.name }}</a></li>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content ">
            {% for t in tables  %}
                 <div class="tab-pane {% if forloop.first %} active{% endif %}" id="{{ t.id }}">
                    {% include "ui/seeds_list_snippet.html" with table=t.table filter=t.filter %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a class="btn btn-primary" href={% url "collection_set_create" %}>Add Collection Set</a>
        </div>
    </div>
</div>
{% endblock %}
