{% extends 'base.html' %}
{% block title %}
    Collection Sets
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <h1>Collection Sets</h1>
        <p>A collection set is a group of collections around a particular topic or theme.
            Collections sets are active when there is at least one active collection within them.
            Collection sets are inactive when all collections have been deactivated and are no longer harvesting.</p>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-12">
        <ul id="collection_set_tabs" class="nav nav-tabs">
            {% for collection_set_key, collection_set_name, collection_set_list in collection_sets_lists %}
                {% if forloop.first %}
                    <li class="nav-item"><a class="nav-link active" href="#{{ collection_set_key }}" data-toggle="tab">{{ collection_set_name }}&nbsp;<span class="badge badge-pill badge-dark">{{ collection_set_list | length }}</span></a></li>
                {% else %}
                        {% if collection_set_list %}
                            <li class="nav-item"><a class="nav-link" href="#{{ collection_set_key }}" data-toggle="tab">{{ collection_set_name }}&nbsp;<span class="badge badge-pill badge-dark">{{ collection_set_list | length }}</span></a></li>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content ">
            {% for collection_set_key, collection_set_name, collection_set_list in collection_sets_lists %}
                 <div class="tab-pane {% if forloop.first %} active{% endif %}" id="{{ collection_set_key }}">
                    {% include "ui/collection_set_list_snippet.html" with collection_type=collection_set_key collection_sets_input=collection_set_list %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a class="btn btn-primary" href={% url "collection_set_create" %}>Add Collection Set</a>
        </div>
    </div>
</div>
{% endblock %}
