{% extends 'base.html' %}
{% block title %}
    {{ collection.name }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_list" %}>My Collections</a></li>
      <li class="active">{{ collection.name }}</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ collection.name }} <a class="btn btn-default" href={% url "collection_update" collection.pk %}>Edit</a></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <p>{{ collection.description }}</p>
    <p><strong>Created:</strong> {{collection.date_added }}</p>
    <!--  add later <p>Last harvested</p> -->
    <p><strong>Group:</strong> {{collection.group }}</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Seedsets</h4></div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Harvest type</th>
                  <th>Seeds</th>
                  <!-- <th>Last harvested</th> -->
                  <th>Active</th>
                </tr>
              </thead>    
            {% for seedset in seedset_list %}
                <tr>
                    <td><a href={% url "seedset_detail" seedset.pk %}>{{ seedset.name }}</a></td>
                    <td>{{ seedset.harvest_type }}</td>
                    <td>{{ seedset.num_seeds }} seed{{ seedset.num_seeds|pluralize }}</td>
                    <!-- <td>date of most recent harvest among seedsets</td> -->
                    <td>{{ seedset.is_active|yesno:"Yes,No" }}</td>
                </tr>
            {% endfor %}
            </table>
            <form action="{% url "seedset_create" %}" method="get">
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Add Seedset">
            </form>
        </div>
    </div>
</div>
{% endblock %}
