{% extends 'base.html' %}
{% block title %}
    Collections
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Collections</h1>
    </div>
</div>
{% if collection_list %}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Seedsets</th>
          <th>Date Added</th>
          <th>Groups</th>
        </thead>
       {% for collection in collection_list %}
        <tr>
            <td><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></td>
            <td>{{ collection.num_seedsets }} seedset{{ collection.num_seedsets|pluralize}}</td>
            <td>{{ collection.date_added }}</td>
            <td>{{ collection.group }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% else %}
  <div class="row">
     <div class="col-md-12">
         <p>No collections yet.</p>
     </div>
  </div>
{% endif %} 
{% if user.is_superuser %}
  {% if collection_list_n %}
    <div class="row">
      <div class="col-md-12">
        <h2>Other Collections</h2>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Seedsets</th>
            <th>Date Added</th>
            <th>Groups</th>
          </thead>
          {% for collection in collection_list_n %}
           <tr>
             <td><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></td>
	     <td>{{ collection.num_seedsets }} seedset{{ collection.num_seedsets|pluralize }}</td>
	     <td>{{ collection.date_added }}</td>
             <td>{{ collection.group }}</td>
           </tr>
          {% endfor %}
        </table>
      </div>
     </div>
   {% endif %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a href={% url "collection_create" %} class="btn btn-primary">Add Collection</a>
        </div>
    </div>
</div>
{% endblock %}
