{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ui_extras %}
{% load static %}
{% load humanize %}
{% block title %}
    {{ collection }}
{% endblock %}

{% block content_header %}

<div class="row">
  <div class="col-md-12">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href={% url "collection_set_list" %}>Collection Sets</a></li>
          <li class="breadcrumb-item"><a href={% url "collection_set_detail" collection.collection_set.pk %}>{{ collection.collection_set.name }}</a></li>
	  <li class="breadcrumb-item active">{{ collection.name }}</li>
      </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="card {% if collection.is_on %} panel-on {% else %} panel-off {% endif %}">
            <div class="card-heading panel-heading pl-3 pt-2 pb-2" >
                <h1 class="card-title {% if collection.is_on %} text-white {% endif %}">{{ collection.name }}</h1>
            </div>
            <div class="card-body {% if collection.is_on %} panel-on {% else %} panel-off {% endif %}">
                <div class="row">
                  <div class="col-md-1">
                    <img src={% static "ui/img/"|add:collection.credential.platform|add:"_logo.png"%} alt="{{ collection.credential.platform|add:" logo" }}" height="60" width="60"/>
                  </div>
                  <div class="col-md-9">
                    <p class="harvest-type-display">{{ collection.get_harvest_type_display }}</p>
                    {% if collection.is_on %}<p>Collection is active. Turn off to edit.</p>{% endif %}
                    {% if not collection.is_active %}<p>Collection is deactivated. Activate to turn on harvesting.</p>{% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <form method="post" id="toggleForm" action={% url "collection_toggle_on" collection.pk %}>
            {% csrf_token %}
            {% if collection.is_on %}
              <div class="btn-group">  
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% if not can_toggle_on %} disabled {% endif %}>
                    <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Turn off <span class="caret"></span>
                </button><br />
                <ul class="dropdown-menu">
                  <li class="dropdown-item" onclick="$('#toggleForm').submit();"> <a href="#">Turn off</a></li>
                  <li class="dropdown-item" data-toggle="modal" data-target="#addNoteTurnOffModal"> <a href="#">Add note and turn off</a></li>
                </ul>
              </div>
              <div class="modal fade" id="addNoteTurnOffModal" tabindex="-1" role="dialog" aria-labelledby="addNoteTurnOffModal">
                <div class="modal-dialog" role="document">
                    <form method="post" action={% url "collection_toggle_on" collection.pk %}>
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addNoteTurnOffModalLabel">Add note & turn off</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="div_id_history_note_off" class="form-group"><label for="id_history_note_off" class="col-form-label ">
                                    Change Note
                                </label>
                                    <div class="controls ">
                                        <textarea class="textarea form-control" cols="40" id="id_history_note_off" name="history_note" rows="4"></textarea>
                                        <p id="hint_id_history_note_off" class="help-block">Explain why you are turning off the collection.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">
                                    <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Turn off
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>      
            {% else %}
            <button type="submit" class={% if seed_error_message or seed_warning_message or credential_used_col or not can_toggle_on or stream_stopping or not collection.is_active %}"btn btn-secondary" disabled="disabled" {% else %} "btn btn-success" {% endif %}>
                <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Turn on
            </button><br />
        {% endif %}
        </form>
        <form method="post" id="toggleActiveForm" action={% url "collection_toggle_active" collection.pk %}>
            {% csrf_token %}
            {% if collection.is_active %}
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle btn-stacked" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% if not can_toggle_active %} disabled {% endif %}>
                    <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Deactivate <span class="caret"></span>
                </button><br />
                <ul class="dropdown-menu">
                  <li class="dropdown-item" onclick="$('#toggleActiveForm').submit();"> <a href="#">Deactivate</a></li>
                  <li class="dropdown-item" data-toggle="modal" data-target="#addNoteTurnInactiveModal"> <a href="#">Add note and deactivate</a></li>
                </ul>
              </div>
              <div class="modal fade" id="addNoteTurnInactiveModal" tabindex="-1" role="dialog" aria-labelledby="addNoteTurnInactiveModal">
                <div class="modal-dialog" role="document">
                    <form method="post" action={% url "collection_toggle_active" collection.pk %}>
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addNoteTurnInactiveModalLabel">Add note & deactivate</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="div_id_history_note_deactivate" class="form-group"><label for="id_history_note_deactivate" class="col-form-label ">
                                    Change Note
                                </label>
                                    <div class="controls ">
                                        <textarea class="textarea form-control" cols="40" id="id_history_note_deactivate" name="history_note" rows="4"></textarea>
                                        <p id="hint_id_history_note_deactivate" class="help-block">Explain why you are deactivating the collection.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">
                                    <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Deactivate
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <button type="submit" class={% if not collection.is_active and can_activate %}"btn btn-secondary" disabled="disabled" {% else %} "btn btn-success btn-stacked" {% endif %}>
                <span class="fas fa-power-off fa-fw" aria-hidden="true"></span> Activate
            </button><br />
        {% endif %}
        </form>

        <a type="button" class="btn btn-primary btn-stacked" href={% url "collection_update" collection.pk %} {% if not can_edit %}disabled="disabled"{% endif %} >
            <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span> Edit
        </a>
        <a type="button" class="btn btn-primary btn-stacked" {% if not can_export %} disabled {% endif %} href="{% url "export_create" collection.id %}">
            <span class="fas fa-file-export fa-fw" aria-hidden="true"></span> Export
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
{% if next_run_time %}
    <div class="alert alert-info" role="alert">Next harvest at {{ next_run_time }}</div>
{% endif %}
{% if seed_warning_message %}
    <div class="alert alert-warning" role="alert">{{ seed_warning_message }}</div>
{% endif %}
{% if  credential_used_col and not collection.is_on %}
    <div class="alert alert-warning" role="alert">
        The credential {{ collection.credential.name }} is already in use by <a href={% url "collection_detail" credential_used_col.id %}>{{ credential_used_col.name }}</a>. You can't turn on this collection.
    </div>
{% endif %}
{% if seed_error_message %}
    <div class="alert alert-danger" role="alert">{{ seed_error_message }}</div>
{% endif %}
{% if not seed_error_message and not seed_warning_message and not collection.is_on and not credential_used_col and collection.is_active%}
    <div class="alert alert-warning" role="status">Turn on collection to start harvesting.</div>
{% endif %}
{% if last_harvest.status == "completed failure" %}
    <div class="alert alert-danger" role="alert"><a href={% url "harvest_detail" last_harvest.pk %}>Last harvest</a> failed.</div>
{% endif %}
{% if last_harvest.infos %}
    <div class="alert alert-info" role="status">
        Information messages reported by <a href={% url "harvest_detail" last_harvest.pk %}>last harvest</a>:
        <ul class="ul_nav">
            {% for msg in last_harvest.infos %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if last_harvest.warnings %}
    <div class="alert alert-warning" role="status">
        Warning messages reported by <a href={% url "harvest_detail" last_harvest.pk %}>last harvest</a>:
        <ul class="ul_nav">
            {% for msg in last_harvest.warnings %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if last_harvest.errors %}
    <div class="alert alert-danger" role="alert">
        Error messages reported by <a href={% url "harvest_detail" last_harvest.pk %}>last harvest</a>:
        <ul class="ul_nav">
            {% for msg in last_harvest.errors %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if stream_stopping %}
        <div class="alert alert-warning" role="status">Harvest must complete before it can be turned on. This may take several minutes. If the harvest does not complete, go to the harvest's detail page and mark it void.</div>
    {% endif %}
  </div>
</div>
<div class="row subsection">
    <div class="col-md-12">
        {% if collection.description %}
            <p><strong>Description: </strong>{{ collection.description }}</p>
        {% endif %}
        {% if collection.link %}
        <p><strong>Public link: </strong><a href="{{ collection.link }}" target="_blank">{{ collection.link }}</a></p>
        <p class="help-block">See the public version for citing this collection.</p>
        {% endif %}
        <p><strong>Data collected:</strong> {{ collection.warcs_count|intcomma }} file{{ collection.warcs_count|pluralize }} ({{ collection.warcs_bytes|filesizeformat }})</p>
           {% if collection.stats %}
              <p><strong>Stats:</strong></p>
               <ul>
              {% for item, count in collection.stats.items %}
                <li>{{ item }}: {{ count|intcomma }}</li>
              {% endfor %}
              </ul>
           {% endif %}
    </div>
    {% has_user_based_permission collection.credential allow_staff=True as has_perm %}
    <div class="col-md-12">
          <div class="card mb-3">
               <div class="card-heading bg-light pl-3 pt-2 pb-2 border">
                   <a class="collapse-toggle" data-toggle="collapse" href="#collapse">Details  <span class="caret"></span></a>
               </div>
             <div id="collapse" class="collapse" style="margin-bottom: 10px;margin-left: 10px; margin-top: 10px">
                     <p><strong>Credential:</strong> {% if has_perm %}<a href={% url "credential_detail" collection.credential.pk %}>{% endif %}{{ collection.credential.name }}{% if has_perm %}</a>{% endif %}{% if not collection.credential.is_active %} <span class="text-warning">(Deleted)</span>{% endif %}</p>
                     {{ collection.harvest_options|json }}
                     {% if collection.schedule_minutes %}
                     <p><strong>Schedule:</strong> {{ collection.get_schedule_minutes_display }}</p>
                     {% endif %}
                     <p><strong>Id:</strong> {{ collection.collection_id }}</p>
                     <p><strong>Created:</strong> {{ collection.date_added|date }}</p>
                     <p><strong>End date: </strong> {{ collection.end_date|date }}</p>
                     <p><strong>Sharing: </strong> {{ collection.get_visibility_display }}</p>
            </div>
         </div>
     </div>
</div>

{% block javascript %}
<script src="{% static "ui/js/collection_detail.js" %}"></script>
<script src="{% static 'ui/js/seed_table.js' %}"></script>
<script type="text/javascript">
   var SEED_LIST_JSON_URL ='{% url "seedsJSONAPI" collection.pk 'active' %}';
</script>
{% endblock %}

{% if has_seeds_list %}
<div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-heading bg-light pl-3 pr-3 pt-2 pb-2 border"><h2 class="seeds">Seeds<a type="button" class="float-right btn btn-primary" href="{% url "download" collection.pk %}"><span class="fas fa-download fa-fw" aria-hidden="true"></span>Download seed list</a></h2></div>
         <div class="card-body">
           <ul id='seed_tab' class="nav nav-tabs">
                  <li class="nav-item"><a class="nav-link active" id="active" data-toggle="tab" href="#active_seed">Active
                     {% if collection.active_seed_count >= 1 %}
                      <span class="badge badge-dark" style="position: relative; top: -2px; left: 4px;">{{ collection.active_seed_count|intcomma }}</span>
                     {% endif %}
                  </a></li>
                  <li class="nav-item"><a class="nav-link" id="deleted" data-toggle="tab"  href="#deleted_seed">Deleted
                     {% if collection.deleted_seed_count >= 1 %}
                      <span class="badge badge-dark" style="position: relative; top: -2px; left: 4px;">{{ collection.deleted_seed_count|intcomma }}</span>
                     {% endif %}
                  </a></li>

           </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="active_seed" >
                        {% include "ui/seeds_list_snippet.html" %}
                </div>
                <div class="tab-pane" id="deleted_seed">
                        {% include "ui/seeds_list_snippet.html" %}
                </div>
            </div>

            <div style="padding-top: 15px">
            <a class="btn btn-primary" id="Add Seed" href="{% url "seed_create" collection.id %}" {% if not can_edit_seeds %}disabled="disabled"{% endif %} >Add Seed</a>
            {% if can_add_bulk_seeds %}
                <a class="btn btn-primary" id="Bulk Add Seed" href="{% url "bulk_seed_create" collection.id %}" {% if not can_edit_seeds %}disabled="disabled"{% endif %} >Bulk Add Seeds</a>
            {% endif %}
            {% if can_edit_seeds and collection.is_on %}
                <p class="help-block">Seeds changes will go into effect with next scheduled harvest.</p>
            {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>
{% endif %}

{% if harvests %}
<div class="row">
  <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-heading bg-light pl-3 pr-3 pt-2 pb-2 border"><h2 class="harvests">Harvests ({{ harvest_count|intcomma }})</h2></div>
        <div class="card-body">
            <table class="table table-list-search">
                <thead>
                <tr>
                    <th class="border-0">Type</th>
                    <th class="border-0">Requested</th>
                    <th class="border-0">Updated/Completed</th>
                    <th class="border-0">Status</th>
                    <th class="border-0">Stats</th>
                    <th class="border-0">Messages</th>
                </tr>
                </thead>
                <tbody class="HarvestSearch">
                {% for harvest in harvests %}
                <tr class="HarvestContent">
                    <td>{{ harvest.get_harvest_type_display }}</td>
                    <td><a href="{% url "harvest_detail" harvest.pk %}">{{ harvest.date_requested }}</a></td>
                    <td>{% if harvest.status == "completed success" or harvest.status == "completed failure" %}
                        {{ harvest.date_ended}}
                        {% else %}
                            {{ harvest.date_updated|naturaltime }}
                        {% endif %}
                    </td>
                    <td>{{ harvest.get_status_display }}</td>
                    {% join_stats harvest.stats harvest.status as joined_stats %}
                    <td>{{ joined_stats }}</td>
                    <td>{% if harvest.message_count %}{{ harvest.message_count|intcomma }} message{{harvest.message_count|pluralize}}{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if harvest_count > harvests|length %}
        <div class="card-footer"><a href="{% url "collection_harvests" collection.pk %}">View all {{ harvest_count|intcomma }} harvests</a></div>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h2 class="change-log">Change log</h2>
        <p><button type="submit" class="btn btn-primary btn-stacked" data-toggle="modal" data-target="#addNoteModal" {% if not can_toggle_on %} disabled {% endif %}>
            <span class="fas fa-plus fa-fw" aria-hidden="true"></span> Add note</button><br/>
        </p>
        <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModal">
            <div class="modal-dialog" role="document">
                <form method="post" action={% url "collection_add_note" collection.pk %}>
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addNoteModalLabel">Add note</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div id="div_id_add_note" class="form-group">
                                <div class="controls ">
                                    <textarea title="add_change_log" class="textarea form-control" cols="40" id="id_add_note" name="history_note" rows="4"></textarea>
                                    <p id="hint_id_add_note" class="help-block">Provide a note to be added to the change log.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">
                                Add note
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- modal-dialog -->
        </div> <!-- modal -->
   </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include "ui/diff_snippet.html" with log_entries=collection.log_entries %}
    </div>
</div>
{% endblock %}
