{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Collections
{% endblock %}

{% block content %}
<div class="row">
    <h1>My Collections</h1>
</div>
    {% regroup collection_list by is_active as collections %}
    {% for is_active in collections %}
        <div class="row">
            <div class="col-md-12">
                <h2>{% if is_active.grouper  == True %}Active{% else %}Inactive{% endif %}</h2>
            </div>
        </div>
        <div class="row">
            {% for collection in is_active.list %}
            <div class="col-md-3"><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></div>
            <div class="col-md-2">{{ collection.num_seedsets }} seedset{{ collection.num_seedsets|pluralize}}</div>
            <div class="col-md-3">Created {{ collection.date_added }}</div>
            <div class="col-md-3">most recent harvest from a seedset</div>
            <div class="col-md-1">{{ collection.group }}</div>
        {% empty %}
            <div class="col-md-12">No collections yet.</div>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <a href={% url "collection_create" %} class="btn btn-default">Add New Collection</a>
        </div>
    </div>
{% endblock %}
