{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ collection_set.name }}
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
        <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
        <li class="active">{{ collection_set.name }}</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>{{ collection_set.name }} 
            <a class="btn btn-primary btn-aligned" href="{% url "collection_set_update" collection_set.pk %}"  {% if not can_edit %} disabled {% endif %}>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
        </a>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row subsection">
    <div class="col-md-12">
        {% if collection_set.description %}
            <p><strong>Description: </strong>{{ collection_set.description }}</p>
        {% endif %}
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
       <div class="panel-heading">
           <a data-toggle="collapse" href="#collapse">Details  <span class="caret"></span></a>
       </div>
       <div id="collapse" class="collapse" style="margin-left: 10px; margin-top: 10px">
        <p><strong>Group:</strong> {{collection_set.group }}</p>
        <p><strong>Id:</strong> {{ collection_set.collection_set_id }}</p>
        <p><strong>Created:</strong> {{ collection_set.date_added|date }}</p>
        {% if collection_set.stats %}
         <p><strong>Stats:</strong><ul>
          {% for item, count in collection_set.stats.items %}
             <li>{{ item }}: {{ count|intcomma }}</li>
          {% endfor %}
             </ul></p>
        {% endif %}
        <p><strong>Data Collected</strong> {{ collection_set.warcs_count }} file{{ collection_set.warcs_count|pluralize }} ({{ collection_set.warcs_bytes|filesizeformat }})</p>
       </div>
      </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<div class="row subsection">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Collections</h4></div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Harvest type</th>
                  <th>Seeds</th>
                  <th>On/off</th>
                </tr>
              </thead>    
            {% for collection in collection_list %}
                <tr>
                    <td><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></td>
                    <td>{{ collection.get_harvest_type_display }}</td>
                    <td>{{ collection.num_seeds }} seed{{ collection.num_seeds|pluralize }}</td>
                    <td>
                        {% if collection.is_active %}
                            <span class="text-success">On</span>
                        {% else %}
                            Off
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  {% if not can_edit %} disabled {% endif %}>
                      Add Collection <span class="caret"></span>
                </button>

                <a target="_blank" href="http://sfm.readthedocs.io/en/latest/collections.html" data-toggle="tooltip" title="Collections connect to a social media platform's APIs, or methods for retrieving data. Understanding what each collection type provides is important to ensure you collect what you need and are aware of any limitations. Click for more info"><span class="glyphicon glyphicon-info-sign" style="padding-top:7px; margin-left: 10px"></span></a>
   
                     <ul class="dropdown-menu">
                          {% for harvest_type, harvest_label in harvest_types %}
                          <li><a  href="{% url "collection_create" collection_set.id harvest_type %}" class="flex-column align-items">
                               <h4>Add {{ harvest_label }}</h4>
                               <p class="mb-1">
                                            {% if 'twitter_user_time' in harvest_type %}Tweets from specific accounts{% endif %}
                                            {% if 'twitter_search' in harvest_type %}Recent tweets matching a query{% endif %}
                                            {% if 'twitter_filter' in harvest_type %}Tweets in real time matching filter criteria{% endif %}
                                            {% if 'twitter_sample' in harvest_type %}A sample of all tweets available. Collects significant amounts of data.{% endif %}
                                            {% if 'flickr_user' in harvest_type %}Posts and photos from specific accounts{% endif %}
                                            {% if 'weibo_timeline' in harvest_type %}Posts from a user and the user's friends{% endif %}
                                            {% if 'tumblr_blog_posts' in harvest_type %}Blog posts from specific blogs{% endif %}
                               </p>
                          </a></li>
                          {% endfor %}
                     </ul>
  
            </div>
               <br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Change log</h4>
        {% include "ui/diff_snippet.html" with log_entries=collection_set.log_entries %}
    </div>
</div>
{% endblock %}
