{% extends 'base.html' %}
{% block title %}
    Collection Sets
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <h1>Collection Sets</h1>
        <p>A collection set is a group of collections around a particular topic or theme.</p>
    </div>
</div>
{% endblock %}
{% block content %}
{% if collection_set_list %}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Collections</th>
          <th>Date Added</th>
          <th>Groups</th>
        </thead>
       {% for collection_set in collection_set_list %}
        <tr>
            <td><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></td>
            <td>{{ collection_set.num_collections }} collection{{ collection_set.num_collections|pluralize}}</td>
            <td>{{ collection_set.date_added }}</td>
            <td>{{ collection_set.group }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% else %}
  <div class="row">
     <div class="col-md-12">
         <p>No collection sets yet.</p>
     </div>
  </div>
{% endif %} 
{% if collection_set_list_n %}
<div class="row">
  <div class="col-md-12">
    <h2>Other Collection Sets</h2>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Collections</th>
        <th>Date Added</th>
        <th>Groups</th>
      </thead>
      {% for collection_set in collection_set_list_n %}
       <tr>
         <td><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></td>
     <td>{{ collection_set.num_collections }} collection{{ collection_set.num_collections|pluralize }}</td>
     <td>{{ collection_set.date_added }}</td>
         <td>{{ collection_set.group }}</td>
       </tr>
      {% endfor %}
    </table>
  </div>
 </div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a href={% url "collection_set_create" %} class="btn btn-primary">Add Collection Set</a>
        </div>
    </div>
</div>
{% endblock %}
