{% extends 'base.html' %}
{% block title %}
    {{ collection_set.name }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li class="active">{{ collection_set.name }}</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ collection_set.name }} <a class="btn btn-default" href={% url "collection_set_update" collection_set.pk %}>Edit</a></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <p>{{ collection_set.description }}</p>
    <p><strong>Id:</strong> {{collection_set.collection_set_id }}</p>
    <p><strong>Created:</strong> {{collection_set.date_added }}</p>
    <!--  add later <p>Last harvested</p> -->
    <p><strong>Group:</strong> {{collection_set.group }}</p>
    {% if collection_set.stats %}
        <p><strong>Stats:</strong><ul>
            {% for item, count in collection_set.stats.items %}
                <li>{{ item }}: {{ count }}</li>
            {% endfor %}
        </ul></p>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Collections</h4></div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Harvest type</th>
                  <th>Seeds</th>
                  <!-- <th>Last harvest</th> -->  
                  <th>Active</th>
                </tr>
              </thead>    
            {% for collection in collection_list %}
                <tr>
                    <td><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></td>
                    <td>{{ collection.get_harvest_type_display }}</td>
                    <!-- last harvest -->
                    <td>{{ collection.num_seeds }} seed{{ collection.num_seeds|pluralize }}</td>
                    <td>{{ collection.is_active|yesno:"Yes,No" }}</td>
                </tr>
            {% endfor %}
            </table>
            {% for harvest_type, harvest_label in harvest_types %}
                <a class="btn btn-primary" value="Add {{ harvest_label }}" href="{% url "collection_create" collection_set.id harvest_type %}">Add {{ harvest_label }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Change log</h4>
        {% include "ui/diff_snippet.html" with log_entries=collection_set.log_entries %}
    </div>
</div>
{% endblock %}
