{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add Collection Set
{% endblock %}

{% block javascript %}
    {% include "ui/credential_warnings_snippet.js" %}
{% endblock javascript %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li><a href={% url "collection_set_detail" collection_set.pk %} >{{ collection_set.name }}</a></li>
      <li class="active">Add {{ harvest_type_name }}</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if credentials|length == 0 %}
        <div class="alert alert-danger" role="alert">Add <a href={% url "credential_list" %}>{{platform|capfirst }} credentials</a> before creating a {{ harvest_type_name }} collection.</div>
        {% endif %}
    </div>
</div>
<div class="row">
  <div class="col-md-12">
        <h2>Add {{ harvest_type_name }}</h2>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
      <p>* indicates a required field.</p>
      {% crispy form %}
  </div>
</div>
{% endblock %}
