{% extends 'base.html' %}
{% block title %}
    Collections
{% endblock %}

{% block content %}
<div class="row">
    <h1>My Collections</h1>
</div>
        <div class="row">
            {% for collection in collection_list %}
            <div class="col-md-4"><p><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></p></div>
            <div class="col-md-3"><p>{{ collection.num_seedsets }} seedset{{ collection.num_seedsets|pluralize}}</p></div>
            <div class="col-md-4"><p>Created {{ collection.date_added }}</p></div>
            <!-- later add date of most recent harvest from among collection's seedsets -->
            <div class="col-md-1"><p>{{ collection.group }}</p></div>
            {% empty %}
            <div class="col-md-12"><p>No collections yet.</p></div>
            {% endfor %}
        </div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a href={% url "collection_create" %} class="btn btn-primary">Add New Collection</a>
        </div>
    </div>
</div>
{% endblock %}
