{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ credential }}
{% endblock %}

{% block content %}
    <h2>{{ credential }} 
    <div>
        <li>Platform : {{ credential.platform }}</li>
        <li>Platform Token : {{ credential.token }}</li>
        <li>date_added : {{ credential.date_added }}</li>
        <li>is_active : {{ credential.is_active }}</li>
        <li>Diffs :
        {% include "ui/diff_snippet.html" with log_entries=seedset.log_entries %}
        </li>
    </div>
    </h2>
{% endblock %}
