{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ credential }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
      <ol class="breadcrumb">
          <li><a href={% url "credential_list" %}>My Credentials</a></li>
	  	  <li class="active">{{ credential.name }}</a></li>
      </ol>
  </div>
</div>
<div class="row">
   <div class="col-md-12">
     <div class="page-header">
        <h1>{{ credential.name }} <a class="btn btn-default" href={% url "credential_update" credential.pk %}>Edit</a></h1>
     </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
        <p><strong>Platform:</strong> {{ credential.platform }}</p>
        <p><strong>Platform Token:</strong> {{ credential.token }}</p>
        <p><strong>Date Added:</strong> {{ credential.date_added }}</p>
        <p><strong>Active:</strong> {{ credential.is_active|yesno:"Yes,No" }}</p>
        <p><strong>Diffs:</strong>
                {% include "ui/diff_snippet.html" with log_entries=seedset.log_entries %}
                 </p>
   </div>
</div>
{% endblock %}
