{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
	Add {{ request.path|slice:"16:-8"|title  }} Credential
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url "credential_list" %}>Credentials</a></li>
	  <li class="breadcrumb-item active">Add {{ request.path|slice:"16:-8"|title  }} Credential</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	  <h2>Add {{ request.path|slice:"16:-8"|title }} Credential</h2>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
      {% crispy form %}
  </div>
  <div class="col-md-6">
           {% if 'Twitter' in request.path|title %}
              <p>Twitter credentials can be obtained from the <a href="https://developer.twitter.com/apps" target="_blank">Twitter API.</a></p>
              <p>1. Sign in to Twitter.</p>
              <p>2. Create a new app on the credentials page.</p>
              <p>3. Go to the <i>Keys and Access Tokens</i> tab and find the consumer key, consumer secret, access token, and access token secret.</p>
              <p>4. Change the application permissions to read-only. For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#id1" target="_blank"> Adding Twitter Credentials</a>.</p>
          {% elif 'Tumblr' in request.path|title %}
              <p>Tumblr credentials can be obtained from the <a href="https://www.tumblr.com/oauth/apps/" target="_blank">Tumblr API.</a></p>
              <p>1. Sign in to Tumblr.</p>
              <p>2. Register an application.</p>
              <p>3. Enter the OAuth Consumer Key in the API key field.</p>
              <p>For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#adding-tumblr-credentials" target="_blank"> Adding Tumblr Credentials</a>.</p>
          {% elif 'Flickr' in request.path|title %}
              <p>Flickr credentials can be obtained from the <a href="https://www.flickr.com/services/api/keys/" target="_blank">Flickr API.</a></p>
              <p>1. Sign in to your Yahoo! account.</p>
              <p>2. Get a non-commercial key.</p>
              <p>3. Enter the key and secret in the correct boxes.</p>
              <p>For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#adding-flickr-credentials" target="_blank"> Adding Flickr Credentials</a>.</p>
          {% elif 'Weibo' in request.path|title %}
              <p>Learn more about Weibo credentials and how to obtain them in this <a href="https://gwu-libraries.github.io/sfm-ui/posts/2016-04-26-weibo-api-guide" target="_blank">guide</a>.</p>
          {% endif %}
  </div>
</div>
{% endblock %}
