{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ui_extras %}
{% block title %}
    {{ credential }}
{% endblock %}

{% block content_header %}
    <div class="row">
      <div class="col-md-12">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href={% url "credential_list" %}>Credentials</a></li>
              <li class="breadcrumb-item active">{{ credential.name }}</li>
          </ol>
      </div>
    </div>
   <div class="row">
       <div class="col-md-12">
           <h1>{{ credential.name }}
               {% if not credential.is_active %}<span class="text-warning">(Deleted)</span>{% endif %}
           </h1>
        </div>
   </div>
   <div class="row">
       <div class="col-md-12">
          <a class="btn btn-primary" href="{% url "credential_update" credential.pk %}" {% if not can_edit %}disabled="disabled"{% endif %} >
             <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span> Edit</a>
          <div class="btn-group">
             <form method="post" id = "toggleForm" action={% url "credential_toggle_active" credential.pk %}>
               {% csrf_token %}
               {% if credential.is_active %}
                 <button {% if not can_edit %}disabled="disabled"{% endif %} type="submit" class="btn btn-danger">
                   Delete</span>
                 </button><br />
               {% else %}
                   <button {% if not can_edit %}disabled="disabled"{% endif %} type="submit" class="btn btn-secondary">Undelete</button>
               {% endif %}
             </form>
          </div>
       </div>
    </div>
{% endblock %}
{% block content %}
   <div class="row subsection">
    <div class="col-md-12">
     <div class="card mb-3">
         <div class="card-heading bg-light pl-3 pr-3 pt-2 pb-2 border">
                 <a data-toggle="collapse" href="#collapse">Details  <span class="caret"></span></a>
         </div>
         <div id="collapse" class="collapse" style="margin-bottom: 10px;margin-left: 10px; margin-top: 10px">
            <p><strong>Platform:</strong> {{ credential.get_platform_display }}</p>
            {{ credential.token|json }}
            <p><strong>Date Added:</strong> {{ credential.date_added }}</p>
            <p><strong>Active:</strong> {{ credential.is_active|yesno:"Yes,No" }}</p>
         </div>
     </div>
    </div>
   </div>
    <div class="card mb-3">
        <div class="card-heading bg-light pl-3 pr-3 pt-2 pb-2 border"><h4>Collections Using This Credential</h4></div>
        <div class="card-body">
        {% if collection_list  %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-top-0">Collection</th>
                            <th class="border-top-0">On/off</th>
                        </tr>
                    </thead>
                    {% for collection in collection_list %}
                        <tr>
                            {% has_collection_set_based_permission collection as has_perm %}
                            <td>{% if has_perm %}<a href={% url "collection_detail" collection.pk %}>{% endif %}{{ collection.collection_set.name}} > {{ collection.name }}{% if has_perm %}</a>{% endif %}</td>
                            <td>
                                {% if collection.is_on %}
                                    <span class="text-success">On</span>
                                {% else %}
                                    Off
                                {% endif %}
                            </td>
                       </tr>
                    {% endfor %}
                </table>
        {% else %}
            <p>No corresponding collections.</p>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Change log</h4>
            {% include "ui/diff_snippet.html" with log_entries=credential.log_entries %}
        </div>
    </div>

{% endblock %}
