{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
	Add {{ request.path|slice:"16:-8"|title  }} Credential
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "credential_list" %}>Credentials</a></li>
	  <li class="active">Add {{ request.path|slice:"16:-8"|title  }} Credential</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	  <h2>Add {{ request.path|slice:"16:-8"|title }} Credential</h2>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
      {% crispy form %}
  </div>
  <div class="col-md-6">
           {% if 'Twitter' in request.path|slice:"16:-8"|title %}
              <h4>Twitter</h4>
              <p>Twitter credentials can be obtained from the <a href="https://apps.twitter.com/" target="_blank">Twitter API.</a></p>
              <p>1. Sign in to Twitter</p>
              <p>2. Create a new app on the credentials page</p>
              <p>3. Find the key and secret from the <i>Keys and Access Tokens</i> tab</p>
              <p>It is recommended to change the application permissions to read-only. For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#id1" target="_blank"> Adding Twitter Credentials.</a></p>
          {% endif %}
          {% if 'Tumblr' in request.path|slice:"16:-8"|title %}
              <h4>Tumblr</h4>
              <p>Tumblr credentials can be obtained from the <a href="https://www.tumblr.com/oauth/apps/">Tumblr API.</a></p>
              <p>1. Sign in to Tumblr</p>
              <p>2. Register an application</p>
              <p>3. Enter the OAuth Consumer Key in the API key field</p>
              <p>For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#adding-tumblr-credentials" target="_blank"> Adding Tumblr Credentials</a></p>
          {% endif %}
          {% if 'Flickr' in request.path|slice:"16:-8"|title %}
              <h4>Flickr</h4>
              <p>Flickr credentials can be obtained from the <a href="https://www.flickr.com/services/api/keys/">Flickr API.</a></p>
              <p>1. Sign in to your Yahoo! account</p>
              <p>2. Get a non-commercial key</p>
              <p>3. Enter the key and secret in the correct boxes</p>
              <p>For detailed instructions, see <a href="https://sfm.readthedocs.io/en/latest/credentials.html#adding-flickr-credentials" target="_blank"> Adding Flickr Credentials</a></p>
          {% endif %}
          {% if 'Weibo' in request.path|slice:"16:-8"|title %}
              <h4>Weibo</h4>
              <p>Learn more about Weibo credentials and how to obtain them in this <a href="https://gwu-libraries.github.io/sfm-ui/posts/2016-04-26-weibo-api-guide" target="_blank">guide</a>.</p>
          {% endif %}
      </p>
  </div>
</div>
{% endblock %}
