{% load socialaccount %}

{% if credential_list %}
    <div class="row" style="padding-top: 20px">
         <div class="col-md-12">
            <table class="table table-striped">
            <thead>
            <tr>
                <th class="border-0">Name</th>
                <th class="border-0">Date Added</th>
                <th class="border-0">Date Updated</th>
            </tr>
            </thead>
            {% for credential in credential_list %}
                <tr>
                    <td><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a>{% if not credential.is_active %} <span class="text-warning">(Deleted)</span>{% endif %}</td>
                    <td>{{ credential.date_added }}</td>
                    <td>{{ credential.date_updated }}</td>
                </tr>
            {% endfor %}
            </table>
         </div>
    </div>
{% else %}
    <div class="row" style="padding-top: 20px">
        <div class="col-md-12">
            <p>No corresponding credentials.</p>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 20px">
            {% if can_connect %}
                <a class="btn btn-primary mr-3" href={% provider_login_url social_type process="connect" %}>Connect {{ social_type|capfirst }} Account</a>
            {% endif %}
            <a class="btn btn-primary" href={% url "credential_create" social_type %}>Add {{ social_type|capfirst }} Credential</a>
        </div>
    </div>
</div>
