{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}
    Credentials
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <h1>Credentials</h1>
  </div>
</div>
{% endblock %}
{% block content %}
{% if credential_list %}
	<div class="row">
		<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Platform</th>
					<th>Date Added</th>
					<th>Active</th>
				</tr>
			</thead>
				{% for credential in credential_list %}
				<tr>
					<td><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a></td>
					<td>{{ credential.platform }}</td>
					<td>{{ credential.date_added }}</td>
					<td>{{ credential.is_active|yesno:"Yes,No" }}</td>
				</tr>
				{% endfor %}
		</table>
		</div>
	</div>
{% else %}
	<div class="row">
		<div class="col-md-12"><p>No credentials yet.</p></div>
	</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
			{% if can_create_twitter %}
				<a href={% url "credential_create" "twitter" %} class="btn btn-primary">Add Twitter Credential</a>
				{% if can_connect_twitter %}
					<a href={% provider_login_url "twitter" process="connect" %} class="btn btn-primary">Connect Twitter Account</a>
				{% endif %}
			{% endif %}
			{% if can_create_flickr %}
		    	<a href={% url "credential_create" "flickr" %} class="btn btn-primary">Add Flickr Credential</a>
			{% endif %}
			{% if can_create_weibo %}
		    	<a href={% url "credential_create" "weibo" %} class="btn btn-primary">Add Weibo Credential</a>
				{% if can_connect_weibo %}
					<a href={% provider_login_url "weibo" process="connect" %} class="btn btn-primary">Connect Weibo Account</a>
				{% endif %}
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
