{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}
    Credentials
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <h1>Credentials</h1>
         <h4>Credentials are used to authorize Social Feed Manager to collect data from Twitter, Tumblr, Weibo and Flickr.</h4>
         <h4>Authorize Social Feed Manager by connecting your account or adding credentials manually.</h4>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 20px">
                        {% if can_connect_twitter %}
                                <a href={% provider_login_url "twitter" process="connect" %} class="btn btn-primary">Connect Twitter Account</a>
                        {% endif %}
                                <a href={% url "credential_create" "twitter" %} class="btn btn-primary">Add Twitter Credential</a>
        </div>
    </div>
</div>
{% if credential_list %}
      <div class="row" style="padding-top: 10px">
             <div class="col-md-8">
                    {% for credential in credential_list %}
                        {% if 'twitter' in credential.platform  %}
                           <ul class="list-group">
                              <li class="list-group-item justify-content-between"><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a><span class="badge badge-default badge-pill">Added {{ credential.date_added|date }}</span></li>
                        {% endif %}
                    {% endfor %}
                   </ul>
             </div>
      </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 20px">
                         {% if can_connect_tumblr %}
                                <a href={% provider_login_url "tumblr" process="connect" %} class="btn btn-primary">Connect Tumblr Account</a>
                        {% endif %}
                                <a href={% url "credential_create" "tumblr" %} class="btn btn-primary">Add Tumblr Credential</a>
        </div>
    </div>
</div>
{% if credential_list %}
      <div class="row" style="padding-top: 10px">
             <div class="col-md-8">
                    {% for credential in credential_list %}
                        {% if 'tumblr' in credential.platform  %}
                           <ul class="list-group">
                              <li class="list-group-item"><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a><span class="badge badge-default badge-pill">Added {{ credential.date_added|date }}</span></li>
                           </ul>
                        {% endif %}
                    {% endfor %}    
             </div>
      </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 20px">
                        {% if can_connect_weibo %}
                                <a href={% provider_login_url "weibo" process="connect" %} class="btn btn-primary">Connect Weibo Account</a>
                        {% endif %}
                        <a href={% url "credential_create" "weibo" %} class="btn btn-primary">Add Weibo Credential</a>
        </div>
    </div>
</div>
{% if credential_list %}
      <div class="row" style="padding-top: 10px">
             <div class="col-md-8">
                    {% for credential in credential_list %}
                        {% if 'weibo' in credential.platform  %}
                           <ul class="list-group">
                              <li class="list-group-item"><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a><span class="badge badge-default badge-pill">Added {{ credential.date_added|date }}</span></li>
                        {% endif %}
                    {% endfor %}
                   </ul>
             </div>
      </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 20px">
                        <a href={% url "credential_create" "flickr" %} class="btn btn-primary">Add Flickr Credential</a>
        </div>
    </div>
</div>
{% if credential_list %}
      <div class="row" style="padding-top: 10px">
             <div class="col-md-8">
                    {% for credential in credential_list %}
                        {% if 'flickr' in credential.platform  %}
                           <ul class="list-group">
                              <li class="list-group-item"><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a><span class="badge badge-default badge-pill">Added {{ credential.date_added|date }}</span></li>
                        {% endif %}
                    {% endfor %}
                   </ul>
             </div>
      </div>
{% endif %}
{% endblock %}
