{% extends 'base.html' %}
{% block title %}
    Credentials
{% endblock %}

{% block content %}
<div class="row">
	<h1>My Credentials</h1>
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Platform</th>
				<th>Date Added</th>
				<th>Active</th>
			</tr>
		</thead>
			{% for credential in credential_list %}
			<tr>
				<td><a href={% url "credential_detail" credential.pk %}>{{ credential.name }}</a></td>
				<td>{{ credential.platform }}</td>
				<td>{{ credential.date_added }}</td>
				<td>{{ credential.is_active|yesno:"Yes,No" }}</td>
			</tr>
            {% empty %}
            <div class="col-md-12"><p>No credetnials yet.</p></div>
			{% endfor %}
	</table>
        </div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" style="padding-top: 15px">
          <a href={% url "credential_twitter_create" %} class="btn btn-primary">Add New Twitter Credential</a>
		  <a href={% url "credential_flickr_create" %} class="btn btn-primary">Add New Flickr Credential</a>
		  <a href={% url "credential_weibo_create" %} class="btn btn-primary">Add New Weibo Credential</a>
        </div>
    </div>
</div>
{% endblock %}
