{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Update {{ credential }}
{% endblock %}

{% block content %}
<h2><a href={% url "credential_list" %}>Credential</a></h2>
<h4>Update {{ credential }}</h4>

<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update" />
</form>
<a href={% url "credential_detail" credential.pk %}>Cancel</a>
<form style="display:inline;" action={% url "credential_delete" credential.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ credential }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
