{% load ui_extras %}
{% load humanize %}
<table class="table">
    <tr>
        <th class="border-0">Change to</th>
        <th class="border-0">Date</th>
        <th class="border-0">User</th>
        <th class="border-0">Fields</th>
    </tr>
    {% for diff in diffs %}
    <tr>
        <td>{{ diff.obj | name }} ({{ diff.obj|verbose_name }})</td>
        <td>{{ diff.date }}</td>
        <td>{{ diff.user|default_if_none:"system" }}</td>
        <td>
            {% for key, values in diff.fields.items %}
                {{ key }}: "{{ values.0|name|default_if_none:"blank" }}" changed to "{{ values.1|name }}" <br/>
            {% endfor %}
            {% if diff.note %}<strong>Note:</strong> {{ diff.note}}{% endif %}
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No changes yet.</td></tr>
    {% endfor %}
    {% if diffs_len > 3 %}
    <tr><td colspan="4">
            <a href="{% url 'change_log' model_name item_id %}">View all {{ diffs_len|intcomma }} changes</a>
    </td></tr>
    {% endif %}
</table>
