{% extends 'base.html' %}
{% block title %}
Exports
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-md-12">
        <h1>Exports</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if export_list %}
        <table class="table">
            <thead>
            <tr>
                <th class="border-0">Export from</th>
                <th class="border-0">Status</th>
                <th class="border-0">Date Requested</th>
            </tr>
            </thead>
            {% for collection_set, collection, export in export_list %}
            <tr>
                <td><a href={% url "export_detail" export.pk %}>{{ collection_set.name }} > {{ collection.name }}</a></td>
                <td>{{ export.status }}</td>
                <td>{{ export.date_requested }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>To request an export, go to one of your <a href={% url 'collection_set_list' %}>Collection Sets</a> and
            choose a Collection to export.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
