{% extends 'base.html' %}
{% block title %}
    {{ collection_set.name }}
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li><a href={% url "collection_set_detail" collection_set.pk %} >{{ collection_set.name }}</a></li>
      <li><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="active">Export</li>
    </ol>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
    <p>
        {% if not export.collection %}
            <p><strong>Selected seeds:</strong>
            <ul>
            {% for seed in export.seeds.all %}
                <li>{{ seed.label }}</li>
            {% endfor %}
            </ul>
        {% else %}
            {% if export.collection.seeds.all %}
                <p><strong>Selected seeds:</strong> All seeds</p>
            {% endif %}
        {% endif %}

    </p>
    <p><strong>Id:</strong> {{ export.export_id }}</p>
    <p><strong>Requested:</strong> {{ export.date_requested }}</p>
    <p><strong>Status:</strong> {{ export.get_status_display }}</p>
    {% if export.service %}
        <p><strong>Performed by:</strong> {{ export.service }} on {{ export.host }} ({{ export.instance }})</p>
    {% endif %}
    <p><strong>Export type:</strong> {{ export.export_type }}</p>
    <p><strong>Format:</strong> {{ export.export_format }}</p>
    <p><strong>Deduplicate:</strong> {{ export.dedupe }}</p>
    <p><strong>Item start date:</strong> {{ export.item_date_start }}</p>
    <p><strong>Item end date:</strong> {{ export.item_date_end }}</p>
    <p><strong>Harvest start date:</strong> {{ export.harvest_date_start }}</p>
    <p><strong>Harvest end date:</strong> {{ export.harvest_date_end }}</p>
    {% if export.infos %}
        <p><strong>Informational messages:</strong><ul>
            {% for msg in export.infos %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul></p>
    {% endif %}
    {% if export.warnings %}
        <p><strong>Warning messages:</strong><ul>
            {% for msg in export.warnings %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul></p>
    {% endif %}
    {% if export.errors %}
        <p><strong>Error messages:</strong><ul>
            {% for msg in export.errors %}
                <li>{{ msg.message }}</li>
            {% endfor %}
        </ul></p>
    {% endif %}

    </div>
</div>
{% if fileinfos %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Files</h4></div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Size</th>
                </tr>
              </thead>
            {% for filename, bytes in fileinfos %}
                <tr>
                    <td><a href={% url "export_file" export.pk filename %}>{{ filename }}</a></td>
                    <td>{{ bytes|filesizeformat }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
<div class="row subsection">
    <div class="col-md-12">
        {% include "ui/terms_snippet.html" %}
    </div>
</div>
{% endblock %}
