{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Add Export
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li class="breadcrumb-item"><a href={% url "collection_set_detail" collection.collection_set.pk %} >{{ collection.collection_set.name }}</a></li>
      <li class="breadcrumb-item"><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="breadcrumb-item active">Request Export</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
        <h2>Request Export</h2>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
      <div class="col-md-12">
         {% crispy form %}
      </div>
</div>
<div class="row subsection">
    <div class="col-md-12">
        {% include "ui/terms_snippet.html" %}
    </div>
</div>
<script src="{% static 'ui/js/datepicker.js' %}"></script>
{% endblock %}
