{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add Export
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li><a href={% url "collection_set_detail" collection.collection_set.pk %} >{{ collection.collection_set.name }}</a></li>
      <li><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="active">Request Export</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
        <h2>Request Export</h2>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
      <div class="col-md-12">
         {% crispy form %}
      </div>
</div>
<div class="row subsection">
    <div class="col-md-12">
       <div class="well">
       <p>Collecting and using data from social media platforms is subject to those platforms' terms (<a href="https://twitter.com/rules" target="_blank">Twitter</a>, 
       <a href="https://www.flickr.com/help/guidelines" target="_blank">Flickr</a>, <a href="http://www.weibo.com/signup/v5/protocol" target="_blank">Sina Weibo</a>),
       as you agreed to them when you created your social media account. Social Feed Manager respects those platforms' terms as an
       application (<a href="https://dev.twitter.com/overview/terms" target="_blank">Twitter</a>, <a href="https://www.flickr.com/services/developer" target="_blank">Flickr</a>, <a href="http://open.weibo.com/wiki/%E9%A6%96%E9%A1%B5" target="_blank">Sina Weibo</a>). </p>

       <p>Social Feed Manager provides data to you for your research and academic use. Social media platforms' terms of service <strong>generally do not allow 
           republishing of full datasets,</strong> and you should refer to their terms to understand what you may share. 
       Authors typically retain rights and ownership to their content.</p>
       
       <p>In addition to respecting the platforms' terms, as a user of Social Feed Manager and data collected within it, it is your
       responsibility to consider the ethical aspects of collecting and using social media data. Your discipline or professional
       organization may offer guidance. Here are <a href="http://gwu-libraries.github.io/sfm-ui/resources/ethics" target="_blank">a few resources to consider.</a></p>
       <div>
    </div>
</div>
{% endblock %}
