{% extends 'base.html' %}
{% block title %}
    Exports
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Exports</h1>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
  {% if export_list %}
    <table class="table">
      <thead>
        <th>Export from</th>
        <th>Status</th>
        <th>Date Requested</th>
      </thead>
     {% for collection, seedset, export in export_list %}
       <tr>
        <td><a href={% url "export_detail" export.pk %}>{{ collection.name }} > {{ seedset.name }}</a></td>
        <td>{{ export.status }} </td>
        <td>{{ export.date_requested }}</td>
       </tr>
       {% endfor %}
     </table>
  {% else %} 
     <p>No exports yet.</p>
     {% endif %}
 </div>
</div>
{% endblock %}
