{% extends 'base.html' %}
{% load humanize %}
{% load ui_extras %}
{% load paginator %}
{% block title %}
    Harvests
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li><a href={% url "collection_set_detail" collection_set.pk %} >{{ collection_set.name }}</a></li>
      <li><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="active">Harvests</li>
    </ol>
  </div>
</div>
{% endblock %}
{% block content %}
{% sfm_paginator page_obj %}
<div class="row">
	<table class="table">
		<thead>
			<tr>
                <th>Type</th>
                <th>Requested</th>
                <th>Updated/Completed</th>
                <th>Status</th>
                <th>Stats</th>
                <th>Messages</th>
			</tr>
		</thead>
			{% for harvest in harvest_list %}
                <tr>
                    <td><a href="{% url "harvest_detail" harvest.pk %}">{{ harvest.get_harvest_type_display }}</a></td>
                    <td>{{ harvest.date_requested }}</td>
                    <td>{% if harvest.status == "completed success" or harvest.status == "completed failure" %}
                        {{ harvest.date_ended}}
                        {% else %}
                            {{ harvest.date_updated|naturaltime }}
                        {% endif %}
                    </td>
                    <td>{{ harvest.get_status_display }}</td>
                    {% join_stats harvest.stats harvest.status as joined_stats %}
                    <td>{{ joined_stats }}</td>
                    <td>{% if harvest.message_count %}{{ harvest.message_count }} message{{harvest.message_count|pluralize}}{% endif %}</td>
                </tr>
			{% endfor %}
	</table>
        </div>
{% endblock %}
