{% extends 'base.html' %}
{% load humanize %}
{% load ui_extras %}
{% block title %}
    Harvests
{% endblock %}

{% block content_header %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url "collection_set_list" %}>Collection Sets</a></li>
      <li class="breadcrumb-item"><a href={% url "collection_set_detail" collection_set.pk %} >{{ collection_set.name }}</a></li>
      <li class="breadcrumb-item"><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="breadcrumb-item active">Harvests</li>
    </ol>
  </div>
</div>
{% endblock %}
{% block content %}
<nav>
  <ul class="pagination justify-content-center align-items-center">
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link rounded-pill mr-1" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link rounded-pill mr-1" href="?page={{ page_obj.previous_page_number }}"> Previous</a></li>
      {% endif %}

      <li class="page-item active">
          {{ page_obj.number }} of {{ paginator.num_pages }}
      </li>

      {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link rounded-pill ml-1" href="?page={{ page_obj.next_page_number }}">Next </a></li>
          <li class="page-item"><a class="page-link rounded-pill ml-1" href="?page={{ paginator.num_pages }}"> &raquo;</a></li>
      {% endif %}
  </ul>
</nav>
<div class="row">
	<table class="table">
		<thead>
			<tr>
                <th class="border-0">Type</th>
                <th class="border-0">Requested</th>
                <th class="border-0">Updated/Completed</th>
                <th class="border-0">Status</th>
                <th class="border-0">Stats</th>
                <th class="border-0">Messages</th>
			</tr>
		</thead>
			{% for harvest in harvest_list %}
                <tr>
                    <td>{{ harvest.get_harvest_type_display }}</td>
                    <td><a href="{% url "harvest_detail" harvest.pk %}">{{ harvest.date_requested }}</a></td>
                    <td>{% if harvest.status == "completed success" or harvest.status == "completed failure" %}
                        {{ harvest.date_ended}}
                        {% else %}
                            {{ harvest.date_updated|naturaltime }}
                        {% endif %}
                    </td>
                    <td>{{ harvest.get_status_display }}</td>
                    {% join_stats harvest.stats harvest.status as joined_stats %}
                    <td>{{ joined_stats }}</td>
                    <td>{% if harvest.message_count %}{{ harvest.message_count }} message{{harvest.message_count|pluralize}}{% endif %}</td>
                </tr>
			{% endfor %}
	</table>
        </div>
{% endblock %}
