{% extends 'base.html' %}
{% block css %}

{% endblock css %}

{% block javascript %}
    <script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
    <script>
        function compose_url(collection_set_id, item, period) {
            return "/ui/collection_sets/" + collection_set_id + "/stats/" + encodeURIComponent(item) + "/" + period + "/";
        }

        function update_viz(viz, title, this_btn, collection_set_id, item, period) {
            // Update buttons
            $("#" + viz.id + "-btns > button").each(function(index) {
              $(this).removeClass("disabled");
            });
            $(this).addClass("disabled");

            // Update chart
            $.getJSON(compose_url(collection_set_id, item, period), function(data) {
                async_update_viz(viz, title, data);
            });

        }

        function async_update_viz(viz, title, data) {
            viz_chart = $("#" + viz.id + "-chart")[0];
            viz_chart.layout.title = title;
            viz_chart.data[0].x = [];
            viz_chart.data[0].y = [];

            $.each( data, function(i, item) {
                viz_chart.data[0].x.push(item[0]);
                viz_chart.data[0].y.push(item[1]);
            });
            Plotly.redraw(viz_chart);
        }
        </script>
{% endblock javascript %}

{% block content %}
{% if user.is_superuser %}
    {% if queue_data %}
        <h2>Queue warning message</h2>
        <p>The following message queues have reached the warning level.</p>
        <table class="table" >
         <thead>
            <tr>
                <th>Queue</th>
                <th>Queued Requests</th>
            </tr>
         </thead>
        {% for queue, msgcount in queue_data %}
        <tr  class="alert-warning">
            <td><strong>{{ queue }}</strong></td>
            <td>{{ msgcount }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% for item in space_data %}
        <h2>Storage for {{ item.volume_id }}</h2>
        <p>The total space is <strong>{{ item.total_space }}</strong> and the available free space for {{ item.volume_id }} is <strong>{{ item.total_free_space }}</strong>.</p>

        <div class="progress">
            <div class="progress-bar {{ item.bar_color }}" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ item.percentage }}%">
            {{ item.percentage }}% Used
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}

{% if collection_set_list %}
    <div class="panel panel-default">
        {% for collection_set in collection_set_list %}
            <div class="panel-heading">
                <h3 class="panel-title"><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></h3>
            </div>
            <div class="panel-body">
                {% for item in collection_set.stats_items %}
                    <div class="col-md-4 text-center">
                      <div id="viz-{{ collection_set.pk }}-{{ item|slugify }}" class="thumbnail">
                        <div id="viz-{{ collection_set.pk }}-{{ item|slugify }}-chart" style="width: 300px; height: 250px;"><!-- Plotly chart will be drawn inside this DIV --></div>
                        <div id="viz-{{ collection_set.pk }}-{{ item|slugify }}-btns" class="btn-group btn-group-xs" role="group">
                          <button type="button" class="btn btn-default viz_all">All</button>
                          <button type="button" class="btn btn-default viz_year">Last year</button>
                          <button type="button" class="btn btn-default disabled viz_month">Last month</button>
                          <button type="button" class="btn btn-default viz_week">Last week</button>
                        </div>
                      </div>
                    </div>
                    <script>
                        // Create viz
                        $.getJSON(compose_url({{ collection_set.pk }}, '{{ item }}', "month"), function(data) {
                            var chart_layout = {
                                title: '{{ item|capfirst }} collected in last month',
                                titlefont: {
                                    size: 14
                                },
                                yaxis: {
                                    rangemode: 'tozero'
                                },
                                xaxis: {
                                    tickformat: '%b %-d',
                                    title: 'Date collected'
                                },
                                margin: {
                                    b: 35,
                                    l: 45,
                                    r: 15,
                                    t: 20
                                }

                            };
                            var chart_data = [{
                                x: [],
                                y: [],
                                type: 'bar'
                            }];
                            $.each( data, function(i, item) {
                                chart_data[0].x.push(item[0]);
                                chart_data[0].y.push(item[1]);

                            });
                            Plotly.newPlot('viz-{{ collection_set.pk }}-{{ item|slugify }}-chart', chart_data, chart_layout);
                        });
                        // All button
                        $("#viz-{{ collection_set.pk }}-{{ item|slugify }}-btns > button.viz_all").click([{{ collection_set.pk }}, '{{ item }}'], function(e) {
                            update_viz($('#viz-{{ collection_set.pk }}-{{ item|slugify }}')[0], "All {{ item }}", this, e.data[0], e.data[1], "all");
                            return false;
                        });
                        // Year button
                        $("#viz-{{ collection_set.pk }}-{{ item|slugify }}-btns > button.viz_year").click([{{ collection_set.pk }}, '{{ item }}'], function(e) {
                            update_viz($('#viz-{{ collection_set.pk }}-{{ item|slugify }}')[0], "{{ item|capfirst }} collected in last year", this, e.data[0], e.data[1], "year");
                            return false;
                        });
                        // Month button
                        $("#viz-{{ collection_set.pk }}-{{ item|slugify }}-btns > button.viz_month").click([{{ collection_set.pk }}, '{{ item }}'], function(e) {
                            update_viz($('#viz-{{ collection_set.pk }}-{{ item|slugify }}')[0], "{{ item|capfirst }} collected in last month", this, e.data[0], e.data[1], "month");
                            return false;
                        });
                        // Week button
                        $("#viz-{{ collection_set.pk }}-{{ item|slugify }}-btns > button.viz_week").click([{{ collection_set.pk }}, '{{ item }}'], function(e) {
                            update_viz($('#viz-{{ collection_set.pk }}-{{ item|slugify }}')[0], "{{ item|capfirst }} collected in last week", this, e.data[0], e.data[1], "week");
                            return false;
                        });

                    </script>

                {% empty %}
                    <p>Nothing harvested yet.</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% else %}
    {% if user.is_authenticated %}
         <p>To get started, create some <a href={% url "credential_list" %}>credentials</a> and <a href={% url "collection_set_list" %}>collection sets</a>.</p>
    {% else %}
         
    <div class="row">
    <h4><strong>Social Feed Manager</strong> empowers researchers and archivists to build collections of social media data from multiple platforms.</h4>
    <div class="col-md-12">
        <h4><strong>Log In</strong></h4>
    </div>
    <div class="col-md-6">
    <p>If you have not created an account yet, then please <a href="{% url "account_signup" %}">sign up</a> first.</p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.login.errors }}
            <label for="id_login">Username</label>
            <input type="text" class="form-control" id="id_login" name="login" placeholder="Username">
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            <label for="id_password">Password</label>
            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
        </div>
        <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
        <div class="checkbox">
            <label>
            <input type="checkbox" id="id_remember" name="remember"> Remember me
            </label>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
    </div>

    <div class="col-md-5 col-md-offset-1" style="text-align: justify">
    <p>Social Feed Manager can collect data and web resources from Twitter, Tumblr, Flickr, and Sina Weibo. <a href="http://sfm.readthedocs.io/en/latest/quickstart.html" target="_blank">Read more about Social Feed Manager.</a></p>
    </div>

    </div>
    <div class="row">
    <div class="col-md-12 subsection">
        {% include "ui/terms_snippet.html" %}
    </div>
    </div>
    {% endif %}
{% endif %}
{% endblock content %}
