{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ user }}
{% endblock %}

{% block content_header %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
       <div class="col-md-12">
           <h1>{{ user.username|title }}'s Profile
               <a class="btn btn-primary btn-aligned" href={% url "user_profile_update"%}>
                   <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span>Edit</a></h1>
       </div>
   </div>
{% endblock %}
{% block content %}
    <div class="row subsection">
       <div class="col-md-12">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Email Frequency:</strong> {{ user.email_frequency }}</p>
            <p><strong>Groups:</strong> {{ user_groups }}</p>
            <p><strong>Harvest Notifications:</strong> {{user.harvest_notifications|yesno:"Yes,No" }}</p>
           <p id="msg_grop" class="help-block">To change groups, <a href={{ email_info }}>contact us</a>.</p>
       </div>
    </div>
{% endblock %}
