{% load ui_extras %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'ui/js/seed_tables.js' %}"></script>
    <script type="text/javascript">
       var SEED_LIST_JSON_URL ='{% url "seedsJSONAPI" collection.pk %}';
    </script>
{% endblock %}

{% with field=harvest_fields|get_item:collection.harvest_type %}
    <br>
    {% if  seed_list %}
    <table class="seed-dt table table-striped">
    <thead>
        <tr>
            {% if field.link %}
                <th>{{ field.link }}</th>
            {% endif %}
            {% if field.token %}
                <th>{{ field.token }}</th>
            {% endif %}
            {% if field.uid %}
                <th>{{ field.uid }}</th>
            {% endif %}
            <th>Messages</th>
        </tr>
    </thead>
    <tbody></tbody>
    </table>
    {% else %}
        <p>No corresponding seeds.</p>
    {% endif %}
{% endwith %}
