{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ui_extras %}
{% block title %}
   {{ seed }}
{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={% url "collection_set_list" %}>Collection Sets</a></li>
                <li class="breadcrumb-item"><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></li>
                <li class="breadcrumb-item"><a href={% url "collection_detail" seed.collection.pk %}>{{ seed.collection.name }}</a></li>
                <li class="breadcrumb-item active">{{ seed.collection.get_harvest_type_display }} seed</li>
            </ol>
        </div>
    </div>
   <div class="row">
       <div class="col-md-12">
           <h1>{{ seed.collection.get_harvest_type_display }}
               {% if not seed.is_active %}<span class="text-warning">(Deleted)</span>{% endif %}
           </h1>
        </div>
   </div>
   <div class="row">
       <div class="col-md-12">
          <a class="btn btn-primary" href="{% url "seed_update" seed.pk %}" {% if not can_edit %}disabled="disabled"{% endif %} >
             <span class="fas fa-pencil-alt fa-fw" aria-hidden="true"></span> Edit</a>
          <div class="btn-group">
             <form method="post" id = "toggleForm" action={% url "seed_toggle_active" seed.pk %}>
               {% csrf_token %}
               {% if seed.is_active %}
                 <button {% if not can_edit %}disabled="disabled"{% endif %} type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Delete <span class="caret"></span>
                 </button><br />
                 <ul class="dropdown-menu">
                   <li class="dropdown-item" onclick="$('#toggleForm').submit();"> <a href="#">Delete</a></li>
                   <li class="dropdown-item" data-toggle="modal" data-target="#addNoteDeleteModal"> <a href="#">Add note and delete</a></li>
                 </ul>
               {% else %}
                   <button {% if not can_edit %}disabled="disabled"{% endif %} type="submit" class="btn btn-secondary">Undelete</button>
               {% endif %}
             </form>
          </div>
          <div class="modal fade" id="addNoteDeleteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteDeleteModal">
             <div class="modal-dialog" role="document">
                 <form method="post" action={% url "seed_toggle_active" seed.pk %}>
                     {% csrf_token %}
                     <div class="modal-content">
                         <div class="modal-header">
                             <h4 class="modal-title" id="addNoteDeleteModalLabel">Add note and delete</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         </div>
                         <div class="modal-body">
                             <div id="div_id_history_note" class="form-group">
                                 <label for="id_history_note" class="control-label ">
                                 Change Note
                                </label>
                                <div class="controls ">
                                    <textarea class="textarea form-control" cols="40" id="id_history_note" name="history_note" rows="4"></textarea>
                                    <p id="hint_id_history_note" class="help-block">Explain why you are deleting the seed.</p>
                                </div>
                             </div>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                             <button type="submit" class="btn btn-danger">
                                 <span aria-hidden="true"></span> Delete
                             </button>
                         </div>
                     </div>
                 </form>
             </div>
          </div>
     </div>
   </div>
{% endblock %}
{% block content %}
    <div class="row subsection">
       <div class="col-md-8 longseed">
            {{ seed.token|json:"Token" }}
            {% if seed.uid %}
                <p><strong>Uid:</strong> {{ seed.uid }}</p>
            {% endif %}
            {% if seed.social_url %}
                <p title="{{ seed.social_url }}"><strong>Link:</strong><a target="_blank" href="{{ seed.social_url }}"> {{ seed.social_url }}</a></p>
            {% endif %}
            <p><strong>Token updated:</strong> {{ seed.date_updated }}</p>
       </div>
       <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong>Id:</strong> {{ seed.seed_id }}</p>
                    <p><strong>Added:</strong> {{ seed.date_added }}</p>
                 </div>
            </div>
       </div>
    </div>

   <div class="row">
       <div class="col-md-12">
          <h2 class="change-log">Change log</h2>
            <p><button type="submit" class="btn btn-primary btn-stacked" data-toggle="modal" data-target="#addNoteModal" {% if not can_edit %} disabled {% endif %}>
                <span class="fas fa-plus fa-fw" aria-hidden="true"></span> Add note
            </button><br>
            </p>
            <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModal">
                <div class="modal-dialog" role="document">
                    <form method="post" action={% url "seed_add_note" seed.pk %}>
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addNoteModalLabel">Add note</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="div_id_add_note" class="form-group">
                                    <div class="controls ">
                                        <textarea title="add_delete_seed_note" class="textarea form-control" cols="40" id="id_add_note" name="history_note" rows="4"></textarea>
                                        <p id="hint_id_add_note" class="help-block">Provide a note to be added to the change log.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">
                                    Add note
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- modal-dialog -->
            </div><!-- modal -->
          {% include "ui/diff_snippet.html" with log_entries=seed.log_entries %}
       </div>
   </div>
{% endblock %}
