{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Update {{ seedset }}
{% endblock %}

{% block content %}
<h1><a href={% url "seedset_list" %}>SeedSet</a></h1>
<h2>Update {{ seedset }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update" />
</form>
<a href={% url "seedset_detail" seedset.pk %}>Cancel</a>
<form style="display:inline;" action={% url "seedset_delete" seedset.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ seedset }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
