{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add Seed
{% endblock %}
{% block content %}
  <div class="row">
      <div class="col-md-12">
          <ol class="breadcrumb">
              <li><a href={% url "collection_list" %}>My Collections</a></li>
              <li><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></li>
              <li><a href={% url "seedset_detail" seed_set.pk %}>{{seed_set.name}}</a></li>
              <li>Add Seed</li>
          </ol>
       </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <h2>Add Seed</h2>
      </div>
  </div>
  <div class="row">
       <div class="col-md-12">
            {% crispy form %}
       </div>
  </div>
{% endblock %}
