{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add SeedSet
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href={% url "collection_list" %}>My Collections</a></li>
      <li><a href={% url "collection_detail" collection.pk %} >{{ collection.name }}</a></li>
      <li class="active">Add Seedset</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
        <h2>Add Seedset</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      {% crispy form %}
  </div>
</div>
{% endblock %}
