{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
   {{ seed.token }}
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-12">
       <ol class="breadcrumb">
           <li><a href={% url "collection_list" %}>My Collections</a></li>
           <li><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></li>
           <li><a href={% url "seedset_detail" seed.seed_set.pk %}>{{ seed.seed_set.name }}</a></li>
           <li class="active">{{ seed.token }}</a></li>
       </ol>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
       <div class="page-header">
           <h1>{{ seed.token }}</h1>
       </div> 
   </div>         
</div>
<div class="row">
  <div class="col-md-12">
          {% crispy form %}
  </div>
</div>
{% endblock %}
