{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
   {{ seed }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href={% url "collection_list" %}>My Collections</a></li>
                <li><a href={% url "collection_detail" collection.pk %}>{{ collection.name }}</a></li>
                <li><a href={% url "seedset_detail" seed.seed_set.pk %}>{{ seed.seed_set.name }}</a></li>   
                <li class="active">{{ seed.token }}</a></li>
            </ol>
        </div>
    </div>
   <div class="row">
       <div class="col-md-12">
            <div class="page-header">
               <h1>{{ seed.token }} <a class="btn btn-default" href={% url "seed_update" seed.pk %}>Edit</a></h1>
            </div>
       </div>
    </div>
    <div>
        <li><strong>Token:</strong> {{ seed.token }}</li>
        <li><strong>uid:</strong> {{ seed.uid }}</li>
        <li><strong>Active:</strong> {{seed.is_active|yesno:"Yes,No" }}</li>
        <li><strong>Valid:</strong> {{seed.is_valid|yesno:"Yes,No" }}</li>
        <li><strong>Date updated:</strong> {{ seed.date_updated }}</li>
        <li><strong>Date added</strong> {{ seed.date_added }}</li>
        <li><strong>Diffs:</strong></li>
        {% include "ui/diff_snippet.html" with log_entries=seedset.log_entries %}
        </li>
    </div>
    </form>
    </h2>
{% endblock %}
