{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ seedset }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
      <ol class="breadcrumb">
          <li><a href={% url "collection_list" %}>My Collections</a></li>
	  <li><a href={% url "collection_detail" seedset.collection.pk %}>{{ seedset.collection.name }}</a></li>
	  <li class="active">{{ seedset.name }}</a></li>
      </ol>
  </div>
</div>
<div class="row">
   <div class="col-md-12">
     <div class="page-header">
        <h1>{{ seedset.name }} <a class="btn btn-default" href={% url "seedset_update" seedset.pk %} {% if seedset.is_active %}disabled="disabled"{% endif %} >Edit</a></h1>
        {% if seedset.is_active %}<span class="label label-warning">Pause harvesting to enable editing and adding seeds.</span>{% endif %}
     </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
        <p><strong>Harvest type:</strong> {{ seedset.get_harvest_type_display }}</p>
        <p><strong>Credential: </strong> {{ seedset.credential.token }}</p>
	    <p><strong>Harvest options: </strong> {{ seedset.harvest_options }}</p>
	    {% if seedset.schedule_minutes %}
            <p><strong>Schedule:</strong> {{ seedset.get_schedule_minutes_display }}</p>
            <p><strong>Next harvest</strong> {{ next_run_time }}</p>
        {% endif %}
        <p><strong>End date: </strong> {{ seedset.end_date }}</p>
        <p><strong>Created:</strong> {{ seedset.date_added }}</p>
        <p><strong>Description:</strong> {{seedset.description }}</p>
        <p><strong>Harvests: </strong> {{ harvests }}</p>
        {% if seedset.stats %}
            <p><strong>Stats:</strong><ul>
                {% for item, count in seedset.stats.items %}
                    <li>{{item}}: {{count}}</li>
                {% endfor %}
            </ul></p>
        {% endif %}
        <p><strong>Diffs:</strong>
                {% include "ui/diff_snippet.html" with log_entries=seedset.log_entries %}
                 </p>         
   </div>
</div>
{% if has_seeds_list %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Seeds</h4></div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Token</th>
                    <th>uid</th>
                    <th>Active</th>
                </tr>
                </thead>
                {% for seed in seed_list %}
                <tr>
                    <td><a href="{% url "seed_detail" seed.pk %}">{{ seed.token }}</a></td>
                    <td>{{ seed.uid }}</td>
                    <td>{{ seed.is_active|yesno:"Yes,No" }}</td>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary" value="Add Seed" href="{% url "seed_create" seedset.id %}" {% if seedset.is_active %}disabled="disabled"{% endif %} >Add Seed</a>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
        <form method="post" action="{% url "seedset_toggle_active" seedset.id %}">
            {% csrf_token %}
            {% if seedset.is_active %}
                <input type="submit" value="Pause harvesting" class="btn btn-primary">
            {% else %}
                {% if not seed_count_message %}
                    <input type="submit" value="Start/resume harvesting" class="btn btn-primary">
                {% else %}
                    <input type="submit" value="Start/resume harvesting" class="btn btn-primary" disabled="disabled">
                    <span class="label label-warning">{{ seed_count_message }}</span>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-primary" value="Request Export" href="{% url "export_create" seedset.id %}">Request Export</a></p>
    </div>
</div>
{% endblock %}
