{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ui_extras %}
{% block title %}
   {{ seed }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href={% url "collection_set_list" %}>Collection Sets</a></li>
                <li><a href={% url "collection_set_detail" collection_set.pk %}>{{ collection_set.name }}</a></li>
                <li><a href={% url "collection_detail" seed.collection.pk %}>{{ seed.collection.name }}</a></li>
                <li class="active">{{ seed.collection.get_harvest_type_display }} seed</a></li>
            </ol>
        </div>
    </div>
   <div class="row">
       <div class="col-md-12">
            <div class="page-header">
               <h1>{{ seed.collection.get_harvest_type_display }} <a class="btn btn-default" href={% url "seed_update" seed.pk %} {% if seed.collection.is_active %}disabled="disabled"{% endif %}>Edit</a></h1>
               {% if seed.collection.is_active %}<span class="label label-warning">Pause collection harvesting to enable editing.</span>{% endif %}
            </div>
       </div>
   </div>

    <div class="row">
       <div class="col-md-12">
            <li><strong>Id:</strong> {{ seed.seed_id }}</li>
            {{ seed.token|json:"Token" }}
            {% if seed.uid %}
                <p><strong>Uid:</strong> {{ seed.uid }}</p>
            {% endif %}
            <p><strong>Active:</strong> {{seed.is_active|yesno:"Yes,No" }}</p>
            <p><strong>Date updated:</strong> {{ seed.date_updated }}</p>
            <p><strong>Date added</strong> {{ seed.date_added }}</p>
            </p>
       </div>
   </div>
   <div class="row">
       <div class="col-md-12">
          <h4>Change log</h4>
          {% include "ui/diff_snippet.html" with log_entries=seed.log_entries %}
       </div>
   </div>
{% endblock %}
