<div class="card card-body bg-light">
    <p>Collecting and using data from social media platforms is subject to those platforms' terms of service (<a href="https://twitter.com/rules" aria-label="Twitter platform terms of service" target="_blank">Twitter</a>,
    <a href="https://www.flickr.com/help/guidelines" aria-label="Flickr platform terms of service" target="_blank">Flickr</a>, <a href="http://www.weibo.com/signup/v5/protocol" aria-label="Sina Weibo platform terms of service" target="_blank">Sina Weibo</a>, <a href="https://www.tumblr.com/policy/en/terms-of-service" aria-label="Tumblr platform terms of service" target="_blank">Tumblr</a>),
    as you agreed to them when you created your social media account. Social Feed Manager respects those platforms' terms as an
    application (<a href="https://developer.twitter.com/en/developer-terms/policy" aria-label="Twitter application terms of service" target="_blank">Twitter</a>, <a href="https://www.flickr.com/services/developer" aria-label="Flickr application terms of service" target="_blank">Flickr</a>, <a href="http://open.weibo.com/wiki/%E9%A6%96%E9%A1%B5" aria-label="Sina Weibo application terms of service" target="_blank">Sina Weibo</a>, <a href="https://www.tumblr.com/docs/en/api_agreement" aria-label="Tumblr application terms of service" target="_blank">Tumblr</a>). </p>

    <p>Social Feed Manager provides data to you for your research and academic use. Social media platforms' terms of service <strong>generally do not allow
    republishing of full datasets,</strong> and you should refer to their terms to understand what you may share.
    Authors typically retain rights and ownership to their content.</p>

    <p>In addition to respecting the platforms' terms, as a user of Social Feed Manager and data collected within it, it is your
    responsibility to consider the ethical aspects of collecting and using social media data. Your discipline or professional
    organization may offer guidance. Here are some <a href="https://gwu-libraries.github.io/sfm-ui/resources/social_media_research_ethical_and_privacy_guidelines.pdf" target="_blank">ethical and privacy guidelines</a> you may want to consider.</p>
</div>
