django>=1.8,<1.9
django-allauth>=0.24,<0.25
psycopg2>=2.6,<2.7
pytz
django-crispy-forms>=1.5,<1.6
appdeps>=1.0,<1.1
librabbitmq==1.6.1
kombu==3.0.29
apscheduler>=3.0,<3.0.3
git+https://github.com/gwu-libraries/sfm-utils.git@0.1.1#egg=sfmutils
mock==1.3.0
sqlalchemy
django-braces>=1.8,<1.9
django-jsonfield==0.9.15
iso8601==0.1.11
